* {
    font-family: sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

.mini-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#score, #time-left {
    margin-top: -8px;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 36vw;
}

button {
    width: 125px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
  
}

#start {
    background-color: #393243;
    color: white;
    
}

#pause {
    background-color: #f3ac21;
}

#reset {
    background-color: rgb(157, 24, 24);
    color: white;
}

.grid {
    width: 501px;
    height: 501px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.square {
    height: 167px;
    width: 167px;
    border: 1px solid grey;
    box-sizing: border-box;
}

.mole {
    background-image: url('mole.jpeg');
    background-size: contain;
    cursor: pointer;
}

@media (max-width: 600px) {
    .grid {
        display: grid;
        margin-top: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 300px;
        width: 300px
    }

    .square {
        width: 100px;
        height: 100px
    }

    .title-container {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }

    .button-container {
        margin-top: 25px;
        width: 80vw;
    }

    button {
        margin: 10px;
    }
}

