* {
    font-family: sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 30vw;
}


.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}

.mole {
    background-image: url('mole.jpeg');
    background-size: contain;
}

